.Rproj.user
.Rhistory
.RData
.Ruserdata

sistemas_recomendadores/data.7z
sistemas_recomendadores/data/
sistemas_recomendadores/rsc15/
sistemas_recomendadores/src/
geods/data/
geods/datos_Tarea1.zip
geods/data_T2/
geods/data_T3/
geods/datos_Tarea1/
geods/data_T2.zip
geods/data_T3.zip
geods/vina.html
geods/vm_censo2017.gpkg

