.Rproj.user
.Rhistory
.RData
.Ruserdata

sistemas_recomendadores/data.7z
sistemas_recomendadores/data/
sistemas_recomendadores/rsc15/
sistemas_recomendadores/src/
sistemas_recomendadores/ml-100k/
sistemas_recomendadores/ml-100k.zip

sistemas_recomendadores_laptop/data.7z
sistemas_recomendadores_laptop/data/
sistemas_recomendadores_laptop/rsc15/
sistemas_recomendadores_laptop/src/
sistemas_recomendadores_laptop/ml-100k/
sistemas_recomendadores_laptop/ml-100k.zip

geods/data/
geods/data_T1/
geods/data_T2/
geods/data_T3/
geods/datos_Tarea1/

geods/data_T1.zip
geods/data_T2.zip
geods/data_T3.zip
geods/datos_Tarea1.zip

geods/vina.html
geods/vm_censo2017.gpkg

geods/Ayudantia2_Ejercicio_GEE_Xarray.zip
geods/t05_datos.zip
geods/entrega_tarea1/

